
@font-face {
  font-family: "Font";
  src: url("");
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

html {
  font-size: .7vw;
  --large: 12.5rem;
  --big: 6.4rem;
  --main: 4.2rem;
  --small: 2rem;
}

body {
  font-family: "Font";
  font-size: 1.6rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1em;
}

h1, h2, h3 {
  font-size: var(--main);
  font-weight: normal;
}
